
<div class="logInBox">
  <h1>Welcome</h1>
  <h2>Please Log In</h2>

  <label for="">Username:</label>
  <input type="text" name="" value="">


  <label for="">Password:</label>
  <input type="password" name="" value="">


</div>
